@using Microsoft.AspNetCore.Identity
@using NutriFitWeb.Models
@using NutriFitWeb.Services
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager
@inject IPhotoManagement PhotoManagement
@inject IInteractNotification InteractNotification;

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (!User.IsInRole("administrator") && !User.IsInRole("nutritionist"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Machines" asp-action="ShowMachines">Máquinas</a>
            </li>
        }
        @if (User.IsInRole("gym"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Nutritionists" asp-action="ShowNutritionists">Nutricionistas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Trainers" asp-action="ShowTrainers">Treinadores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Clients" asp-action="ShowClients">Clientes</a>
            </li>
        }
        else if (User.IsInRole("administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Admins" asp-action="ShowAllUsers">Utilizadores</a>
            </li>
        }
        else if (User.IsInRole("client"))
        {
            <li class="dropdown">
                <button class="nav-link text-dark menuItem dropdownBtnBorderFix">Planos</button>
                <div class="dropdown-content plansSubMenuFix">
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="TrainingPlans" asp-action="ShowTrainingPlans">Treinos</a>
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="NutritionPlans" asp-action="ShowNutritionPlans">Nutrição</a>
                </div>
            </li>
            <li class="dropdown">
                <button class="nav-link text-dark menuItem dropdownBtnBorderFix">Pedidos</button>
                <div class="dropdown-content requestsSubMenuFix">
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="TrainingPlanNewRequests" asp-action="ShowTrainingPlanNewRequests">Treino Novo</a>
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="TrainingPlanEditRequests" asp-action="ShowTrainingPlanEditRequests">Edição Treino</a>
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="NutritionPlanNewRequests" asp-action="ShowNutritionPlanNewRequests">Nutrição Novo</a>
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="NutritionPlanEditRequests" asp-action="ShowNutritionPlanEditRequests">Edição Nutrição</a>
                </div>
            </li>
        }
        else if (User.IsInRole("nutritionist"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Clients" asp-action="ShowClients">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="NutritionPlans" asp-action="ShowNutritionPlans">Nutrição</a>
            </li>
            <li class="dropdown">
                <button class="nav-link text-dark menuItem dropdownBtnBorderFix">Pedidos</button>
                <div class="dropdown-content requestsSubMenuFix">
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="NutritionPlanNewRequests" asp-action="ShowNutritionPlanNewRequests">Nutrição Novo</a>
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="NutritionPlanEditRequests" asp-action="ShowNutritionPlanEditRequests">Edição Nutrição</a>
                </div>
            </li>
        }
        else if (User.IsInRole("trainer"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Clients" asp-action="ShowClients">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="TrainingPlans" asp-action="ShowTrainingPlans">Treinos</a>
            </li>
            <li class="dropdown">
                <button class="nav-link text-dark menuItem dropdownBtnBorderFix">Pedidos</button>
                <div class="dropdown-content requestsSubMenuFix">
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="TrainingPlanNewRequests" asp-action="ShowTrainingPlanNewRequests">Treino Novo</a>
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="TrainingPlanEditRequests" asp-action="ShowTrainingPlanEditRequests">Edição Treino</a>
                </div>
            </li>
        }

        <li class="dropdown">
            @{
                string? profilePic = await PhotoManagement.LoadProfileImage(User.Identity.Name);
            }
            @if (profilePic is not null && !string.Equals(profilePic, ""))
            {
                <button class="nav-link text-dark menuItem dropdownBtnBorderFix">
                    <div class="accountIconPicDiv"><img class="accountIconPic" src="@profilePic" alt="accountIcon" /></div>
                </button>
            }
            else
            {
                <button class="nav-link text-dark menuItem dropdownBtnBorderFix"><img class="accountIcon" src=~/icons/accountIcon.svg alt="accountIcon" /></button>
            }
            <div class="dropdown-content fixAdminAccountSubmenu">
                @if (User.IsInRole("trainer"))
                {
                    <a class="btn btn-link subMenuItem" asp-route-id="@User.Identity.Name" asp-area="" asp-controller="Trainers" asp-action="EditTrainerSettings">Perfil</a>
                }
                else if (User.IsInRole("nutritionist"))
                {
                    <a class="btn btn-link subMenuItem" asp-route-id="@User.Identity.Name" asp-area="" asp-controller="Nutritionists" asp-action="EditNutritionistSettings">Perfil</a>
                }
                else if (User.IsInRole("gym"))
                {
                    <a class="btn btn-link subMenuItem" asp-route-id="@User.Identity.Name" asp-area="" asp-controller="Gyms" asp-action="EditGymSettings">Perfil</a>
                }
                else if (User.IsInRole("client"))
                {
                    <a class="btn btn-link subMenuItem" asp-route-id="@User.Identity.Name" asp-area="" asp-controller="Clients" asp-action="EditClientSettings">Perfil</a>
                }

                <a class="btn btn-link subMenuItem" asp-area="Identity" asp-page="/Account/Manage/Index">Conta</a>

                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-link menuItem subMenuItem logout">Sair &nbsp;<img class="logoutIcon" src=~/icons/logoutIcon.svg alt="logoutIcon" /></button>
                </form>
            </div>
        </li>

        @if (!(User.IsInRole("administrator")))
        {
            <li class="nav-item notificationBell">
                <a class="nav-link text-dark menuItem iconBorder" asp-area="" asp-controller="Notifications" asp-action="ShowNotifications"><img class="notificationIcon" src="~/icons/notificationIcon.svg" alt="notificationsIcon" /></a>
            </li>
            <li class="dropdown">
                <button class="nav-link text-dark menuItem dropdownBtnBorderFix">Planos</button>
                <div class="dropdown-content plansSubMenuFix">
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="TrainingPlans" asp-action="ShowTrainingPlans">Treinos</a>
                    <a class="btn btn-link subMenuItem" asp-area="" asp-controller="NutritionPlans" asp-action="ShowNutritionPlans">Nutrição</a>
                </div>
            </li>
        }
        else
        {
            <li class="spacingLi"></li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark menuItem" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
