@model NutriFitWeb.Models.Nutritionist

@{
    ViewData["Title"] = "NutritionistDetails";
}

<h1 class="detailsTitle">Detalhes do Nutricionista</h1>

<div class="detailsDivs">
    <dl class="row">
        <dd class="col-sm-12">
            <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(model => model.NutritionistId)</b> @Html.DisplayFor(model => model.NutritionistId)</p>
        </dd>
        <dd class="col-sm-12">
            <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(model => model.NutritionistFirstName)</b> @Html.DisplayFor(model => model.NutritionistFirstName)</p>
        </dd>
        <dd class="col-sm-12">
            <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(model => model.NutritionistLastName)</b> @Html.DisplayFor(model => model.NutritionistLastName)</p>
        </dd>
    </dl>
</div>
<div class="backBtnDiv">
    <a asp-action="ShowNutritionists" class="backToListBtn">Voltar</a>
</div>
