@model NutriFitWeb.Models.Nutritionist

@{
    ViewData["Title"] = "NutritionistDetails";
}

<h1 class="detailsTitle">Detalhes do Nutricionista</h1>

<div class="listsDiv">
    <dl class="row">
        <dt class = "col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(model => model.NutritionistId)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.NutritionistId)
        </dd>
        <dt class = "col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(model => model.NutritionistFirstName)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.NutritionistFirstName)
        </dd>
        <dt class = "col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(model => model.NutritionistLastName)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.NutritionistLastName)
        </dd>
    </dl>
</div>
<div class="backBtnDiv">
    <a asp-action="ShowNutritionists" class="backToListBtn">Voltar</a>
</div>
