@model IEnumerable<NutriFitWeb.Models.Nutritionist>
@using NutriFitWeb.Services
@using NutriFitWeb.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@***REMOVED***
    ViewData["Title"] = "ShowNutritionists";
***REMOVED***

@***REMOVED***string? routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);***REMOVED***
@***REMOVED***string? qsPath = ViewContext.HttpContext.Request.QueryString.Value;***REMOVED***
@***REMOVED***string? returnUrl = $"***REMOVED***routeUrl***REMOVED******REMOVED***qsPath***REMOVED***";***REMOVED***

<h1>Nutricionistas</h1>

<form asp-action="ShowNutritionists" asp-route-id=email method="get">
    <input type="text" name="email" placeholder="Insira o email do utilizador" class="searchBar"/>
    <button type="submit" class="searchBtn"><i class="fa fa-search"></i></button>
</form>

@foreach (var item in Model) ***REMOVED***
    <div class="listsDiv">
        <b class="listsItem listsItemTitle">@Html.DisplayNameFor(model => model.UserAccountModel.UserName):</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.UserName)</p>
        <br>
        <b class="listsItem listsItemTitle">@Html.DisplayNameFor(model => model.UserAccountModel.Email):</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.Email)</p>
        <div class="listsItem">
            @if(item.Gym == null)***REMOVED***
                <a asp-action="AddNutritionistToGym" asp-route-id="@item.NutritionistId" asp-route-url=@returnUrl class="fas fa-plus-circle icons addIcon"></a>
        ***REMOVED***else if(UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id)***REMOVED***                   
                <a asp-action="RemoveNutritionistFromGym" asp-route-id="@item.NutritionistId" asp-route-url=@returnUrl class="fas fa-minus-circle icons removeIcon"></a> 
        ***REMOVED***

            <a asp-action="NutritionistDetails" asp-route-id="@item.NutritionistId" class="fa fa-info-circle icons"></a>
        </div>
    </div>
***REMOVED***

@if (!string.IsNullOrEmpty(qsPath))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowNutritionists" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***
