@model PaginatedList<NutriFitWeb.Models.Nutritionist>
@using NutriFitWeb.Services
@using NutriFitWeb.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@***REMOVED***
    ViewData["Title"] = "ShowNutritionists";
***REMOVED***

<h1>Nutricionistas</h1>
<form asp-action="ShowNutritionists" method="get">
    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o email do utilizador" class="searchBar"/>
    <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon"/></button>
</form>

@foreach (var item in Model) ***REMOVED***
    <div class="listsDiv">
        <b class="listsItem listsItemTitle">UserName:</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.UserName)</p>
        <br>
        <b class="listsItem listsItemTitle">Email:</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.Email)</p>
        <div class="listsItem">
            @if(item.Gym == null)***REMOVED***
                <a asp-action="AddNutritionistToGym" asp-route-id="@item.NutritionistId" asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                <img class="addIcon icons" src="~/icons/addIcon.svg" alt="addIcon"/></a>
        ***REMOVED***else if(UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id)***REMOVED***                   
                <a asp-action="RemoveNutritionistFromGym" asp-route-id="@item.NutritionistId" asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                <img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon"/></a> 
        ***REMOVED***

            <a asp-action="NutritionistDetails" asp-route-id="@item.NutritionistId">
                <img class="detailsIcon icons" src="~/icons/detailsIcon.svg" alt="detailsIcon"/>
            </a>
        </div>
    </div>
***REMOVED***

@***REMOVED***
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
***REMOVED***

<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowNutritionists"
        asp-route-pageNumber="@(Model.PageIndex - 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
***REMOVED***

    @if (nextDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowNutritionists"
        asp-route-pageNumber="@(Model.PageIndex + 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
***REMOVED***

    @if(prevDisabled == "disabled" && nextDisabled == "disabled")
    ***REMOVED***
        <p class="noMoreResults">Não existem mais resultados</p>
***REMOVED***
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowNutritionists" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***
