@model IEnumerable<NutriFitWeb.Models.Nutritionist>
@using NutriFitWeb.Services
@using NutriFitWeb.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@{
    ViewData["Title"] = "ShowNutritionists";
}

@{string? routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);}
@{string? qsPath = ViewContext.HttpContext.Request.QueryString.Value;}
@{string? returnUrl = $"{routeUrl}{qsPath}";}

<h1>Nutricionistas</h1>

<form asp-action="ShowNutritionists" asp-route-id=email method="get">
    <input type="text" name="email" placeholder="Insira o email do utilizador" class="searchBar"/>
    <button type="submit" class="searchBtn"><i class="fa fa-search"></i></button>
</form>

@foreach (var item in Model) {
    <div class="listsDiv">
        <b class="listsItem listsItemTitle">@Html.DisplayNameFor(model => model.UserAccountModel.UserName):</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.UserName)</p>
        <br>
        <b class="listsItem listsItemTitle">@Html.DisplayNameFor(model => model.UserAccountModel.Email):</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.Email)</p>
        <div class="listsItem">
            @if(item.Gym == null){
                <a asp-action="AddNutritionistToGym" asp-route-id="@item.NutritionistId" asp-route-url=@returnUrl class="fas fa-plus-circle icons addIcon"></a>
            }else if(UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id){                   
                <a asp-action="RemoveNutritionistFromGym" asp-route-id="@item.NutritionistId" asp-route-url=@returnUrl class="fas fa-minus-circle icons removeIcon"></a> 
            }

            <a asp-action="NutritionistDetails" asp-route-id="@item.NutritionistId" class="fa fa-info-circle icons"></a>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(qsPath))
{
    <div class="backBtnDiv">
        <a asp-action="ShowNutritionists" class="backToListBtn">Voltar</a>
    </div>
}
