@model PaginatedList<NutriFitWeb.Models.Nutritionist>
@using NutriFitWeb.Services
@using NutriFitWeb.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@***REMOVED***
    ViewData["Title"] = "ShowNutritionists";
***REMOVED***

<h1>Nutricionistas <img class="iconMargin" src="~/icons/nutritionIcon.svg" alt="nutritionistIcon" /></h1>

<input type="submit" value="Ajuda" class="helpBtn" onclick="helpButton()" />

<div class="col-md-4 helpDivs" style="display:none;" id="helpText">
    <p>Aqui pode <b>adicionar</b>, <b>remover</b> e <b>ver os detalhes</b> de <b>Nutricionistas</b>.</p>
</div>

<form asp-action="ShowNutritionists" method="get">
    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o email do utilizador" class="searchBar" />
    <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
</form>

@foreach (var item in Model)
***REMOVED***
    <div class="listsDiv">
        <p class="listsItem"><b class="listsItem listsItemTitle showListsBorder">UserName</b> @Html.DisplayFor(modelItem => item.UserAccountModel.UserName)</p>
        <p class="listsItem"><img src="~/icons/emailIcon.svg"/> @Html.DisplayFor(modelItem => item.UserAccountModel.Email)</p>
        <div class="listsItem">

            <a asp-action="ChangeNutritionistGymStatus" asp-route-id="@item.NutritionistId"
           asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                @if (item.Gym is null)
                ***REMOVED***
                    <img class="addIcon icons" src="~/icons/addIcon.svg" alt="addIcon" />
            ***REMOVED***
                else if (UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id)
                ***REMOVED***
                    <img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon" />
            ***REMOVED***
            </a>

            <a asp-action="NutritionistDetails" asp-route-id="@item.NutritionistId">
                <img class="detailsIcon icons" src="~/icons/detailsIcon.svg" alt="detailsIcon" />
            </a>
        </div>
    </div>
***REMOVED***

@***REMOVED***
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
***REMOVED***

<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowNutritionists"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
***REMOVED***

    @if (nextDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowNutritionists"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
***REMOVED***

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    ***REMOVED***
        <p class="noMoreResults">Não existem mais resultados</p>
***REMOVED***
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowNutritionists" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***
