@using NutriFitWeb.Services
@model PaginatedList<NutriFitWeb.Models.TrainingPlanEditRequest>

@***REMOVED***
    ViewData["Title"] = "Index";
***REMOVED***

@if (User.IsInRole("trainer"))
***REMOVED***
    <div class="titlesMargin">
        <form asp-action="ShowTrainingPlanEditRequests" method="get">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Email do cliente/Nome do plano" class="searchBar" />
            <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
        </form>
        
    </div>
***REMOVED***
else if (User.IsInRole("client"))
***REMOVED***
    <div class="titlesMargin">
        <form asp-action="ShowTrainingPlanEditRequests" method="get">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o nome do plano" class="searchBar" />
            <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>                   
        </form>       
    </div>
***REMOVED***

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Plano a Editar
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data do Pedido
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) ***REMOVED***
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingPlan.TrainingPlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingPlanEditRequestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingPlanEditRequestDate)
            </td>
            <td>
                <a asp-action="TrainingPlanEditRequestDetails" asp-route-id="@item.TrainingPlanEditRequestId">Details</a> |
                    @if (User.IsInRole("client"))
                    ***REMOVED***
                        <a asp-action="DeleteTrainingPlanEditRequest" asp-route-id="@item.TrainingPlanEditRequestId">Delete</a>
                ***REMOVED***                
            </td>
        </tr>
***REMOVED***
    </tbody>
</table>
@***REMOVED***
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
***REMOVED***
<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowTrainingPlanEditRequests"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
***REMOVED***

    @if (nextDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowTrainingPlanEditRequests"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
***REMOVED***

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    ***REMOVED***
        <p class="noMoreResults">Não existem mais resultados</p>
***REMOVED***
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowTrainingPlanEditRequests" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***