@using NutriFitWeb.Services
@model PaginatedList<NutriFitWeb.Models.Notification>
@inject IInteractNotification InteractNotification;

<div class="titlesMargin">
    <form asp-action="ShowNotifications" method="get">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Conteúdo da Notificação" class="searchBar" />
        <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
    </form>
</div>
@if (User.Identity is not null && await InteractNotification.NotificationsExist(User.Identity.Name!))
{
    <div class="marginFixChooseFile">
        <a class="createBtn" asp-action="RemoveAll">Limpar Notificações</a>
    </div>
}

<div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th class="roundedCornerTableLeft thStyle">
                    Conteúdo
                </th>
                <th class="thStyle">
                    Data
                </th>
                <th class="roundedCornerTableRight thStyle">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <p class="details">@Html.DisplayFor(modelItem => item.NotificationMessage)</p>
                    </td>
                    <td>
                        <p class="details">@Html.DisplayFor(modelItem => item.NotificationTime)</p>
                    </td>
                    <td>
                        <a asp-action="DeleteNotification" asp-route-id="@item.NotificationId"><img class="removeIcon icons" src="~/icons/removeIcon.svg" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    {
        <a asp-action="ShowNotifications"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
    }

    @if (nextDisabled != "disabled")
    {
        <a asp-action="ShowNotifications"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
    }

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    {
        <p class="noMoreResults">Não existem mais notificações</p>
    }
</div>

@if (!string.IsNullOrEmpty(ViewData["CurrentFilter"] as string))
{
    <div class="backBtnDiv">
        <a asp-action="ShowNotifications" class="backToListBtn">Voltar</a>
    </div>
}