@using NutriFitWeb.Services
@model PaginatedList<NutriFitWeb.Models.Notification>

<div class="titlesMargin">
    <form asp-action="ShowNotifications" method="get">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Conteúdo da Notificação" class="searchBar" />
        <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
    </form>
</div>
<div class="col-md-8">
<table class="table">
    <thead>
        <tr>
            <th class="roundedCornerTableLeft thStyle">
                Conteúdo
            </th>
            <th class="thStyle">
                Data
            </th>
            <th class="roundedCornerTableRight thStyle">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        ***REMOVED***
            <tr>
                <td>
                    <p class="details">@Html.DisplayFor(modelItem => item.NotificationMessage)</p>
                </td>
                <td>
                    <p class="details">@Html.DisplayFor(modelItem => item.NotificationTime)</p>
                </td>
                <td>
                    <a asp-action="DeleteNotification" asp-route-id="@item.NotificationId"><img class="removeIcon icons" src="~/icons/removeIcon.svg" /></a>
                </td>
            </tr>
    ***REMOVED***
    </tbody>
</table>
</div>
@***REMOVED***
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
***REMOVED***
<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowNotifications"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
***REMOVED***

    @if (nextDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowNotifications"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
***REMOVED***

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    ***REMOVED***
        <p class="noMoreResults">Não existem mais notificações</p>
***REMOVED***
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowNotifications" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***