@model NutriFitWeb.Models.Client

@***REMOVED***
    ViewData["Title"] = "Details";
***REMOVED***

<h1 class="detailsTitle">Detalhes do Cliente</h1>

<div class="col-md-12 profileDivs exercisesDiv">
    <table class="formTables">
        <tr>
            <th><p class="control-label listsItemTitle">@Html.DisplayNameFor(Model => Model.ClientId)</p></th>
            <td><p class="itemsLeftMargin">@Html.DisplayFor(Model => Model.ClientId)</p></td>
        </tr>
        <tr>
            <th><p class="control-label listsItemTitle">@Html.DisplayNameFor(Model => Model.Gym)</p></th>
            @if (Model.Gym is null || Model.Gym.GymName is null || Model.Gym.GymName == "")
            ***REMOVED***
                <td><p class="itemsLeftMargin">N/A</p></td>
        ***REMOVED***
            else
            ***REMOVED***
                <td><p class="itemsLeftMargin">@Html.DisplayFor(Model => Model.Gym.GymName)</p></td> 
        ***REMOVED***
        </tr>
        <tr>
            <th><p class="control-label listsItemTitle">Treinador</p></th>
            @if (Model.Trainer is not null)
            ***REMOVED***
                @if ((Model.Trainer.TrainerFirstName is null || Model.Trainer.TrainerFirstName == "") && (Model.Trainer.TrainerLastName is null || Model.Trainer.TrainerLastName == ""))
                ***REMOVED***
                    <td><p class="itemsLeftMargin">@Model.Trainer.UserAccountModel.UserName</p></td>
            ***REMOVED***else if(Model.Trainer.TrainerFirstName is null || Model.Trainer.TrainerFirstName == "")
                ***REMOVED***
                    <td><p class="itemsLeftMargin">@Model.Trainer.TrainerLastName</p></td>
            ***REMOVED***else if (Model.Trainer.TrainerLastName is null || Model.Trainer.TrainerLastName == "")
                ***REMOVED***
                    <td><p class="itemsLeftMargin">@Model.Trainer.TrainerFirstName</p></td>
            ***REMOVED***else***REMOVED***
                    <td><p class="itemsLeftMargin">@Model.Trainer.TrainerFirstName @Model.Trainer.TrainerLastName</p></td>
            ***REMOVED***
        ***REMOVED***
        </tr>
        <tr>
            <th><p class="control-label listsItemTitle"></p></th>
            <td><p class="itemsLeftMargin"></p></td>
        </tr>
        <tr>
            <th><p class="control-label listsItemTitle"></p></th>
            <td><p class="itemsLeftMargin"></p></td>
        </tr>
        <tr>
            <th><p class="control-label listsItemTitle"></p></th>
            <td><p class="itemsLeftMargin"></p></td>
        </tr>
    </table>
</div>

<div class="backBtnDiv">
    <a asp-action="ShowClients" class="backToListBtn">Voltar</a>
</div>
