@model NutriFitWeb.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1 class="detailsTitle">Detalhes do Cliente</h1>

<div class="detailsDivs">
    <dl class="row">
        <dd class="col-sm-12">
            <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(Model => Model.ClientId)</b> @Html.DisplayFor(Model => Model.ClientId)</p>
        </dd>
        <dd class="col-sm-12">
            @if (Model.Gym is null || Model.Gym.GymName is null || Model.Gym.GymName == "")
            {
                <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(Model => Model.ClientId)</b> N/A</p>
            }
            else
            {
                <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(Model => Model.Gym)</b>  @Html.DisplayFor(Model => Model.Gym.GymName)</p>   
            }
        </dd>
        <dd class="col-sm-12">
            @if (Model.UserAccountModel.UserName is null || Model.UserAccountModel.UserName == "")
            {
                <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(Model => Model.UserAccountModel.UserName)</b> N/A</p>
            }
            else
            {
                <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(Model => Model.UserAccountModel.UserName)</b> @Html.DisplayFor(Model => Model.UserAccountModel.UserName)</p>
            }
        </dd>
        <dd class="col-sm-12">
            @if ((Model.ClientFirstName is null || Model.ClientFirstName == "") && (Model.ClientLastName is null || Model.ClientLastName == ""))
            {
                <p class="listsItem"><b class="col-sm-12 listsItemTitle">Nome Completo</b> N/A</p>
            }
            else
            {
                <p class="listsItem"><b class="col-sm-12 listsItemTitle">Nome Completo</b> @Html.DisplayFor(Model => Model.ClientFirstName) @Html.DisplayFor(Model => Model.ClientLastName)</p>
            }
        </dd>
        <dd class="col-sm-12">
            @if (Model.ClientBirthday is null)
            {
                <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(Model => Model.ClientBirthday)</b> N/A</p>
            }
            else
            {
                <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(Model => Model.ClientBirthday)</b> @Html.DisplayFor(Model => Model.ClientBirthday)</p>
            }
        </dd>
        <dt class="col-sm-12">
            <img src="~/icons/weightIcon.svg"/>
        </dt>
        <dd class="col-sm-12">
            @if (Model.Weight is null || Model.Weight == 0)
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.Weight)
            }
        </dd>
        <dt class="col-sm-12">
            <img src="~/icons/heightIcon.svg"/>
        </dt>
        <dd class="col-sm-12">
            @if (Model.Height is null || Model.Height == 0)
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.Height)
            }
        </dd>
    </dl>
</div>
<div class="backBtnDiv">
    <a asp-action="ShowClients" class="backToListBtn">Voltar</a>
</div>
