@model NutriFitWeb.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1 class="detailsTitle">Detalhes do Cliente</h1>

<div class="listsDiv">
    <dl class="row">
        <dt class="col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(Model => Model.ClientId)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(Model => Model.ClientId)
        </dd>
        <dt class="col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(Model => Model.UserAccountModel.UserName)
        </dt>
        <dd class="col-sm-12">
            @if (Model.UserAccountModel.UserName is null || Model.UserAccountModel.UserName == "")
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.UserAccountModel.UserName)
            }
        </dd>

        <dt class="col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(Model => Model.ClientFirstName)
        </dt>
        <dd class="col-sm-12">
            @if (Model.ClientFirstName is null || Model.ClientFirstName == "")
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.ClientFirstName)
            }
        </dd>
        <dt class="col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(Model => Model.ClientLastName)
        </dt>
        <dd class="col-sm-12">
            @if (Model.ClientLastName is null || Model.ClientLastName == "")
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.ClientLastName)
            }
        </dd>
        <dt class="col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(Model => Model.ClientBirthday)
        </dt>
        <dd class="col-sm-12">
            @if (Model.ClientBirthday is null)
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.ClientBirthday)
            }
        </dd>
        <dt class="col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(Model => Model.Weight)
        </dt>
        <dd class="col-sm-12">
            @if (Model.Weight is null || Model.Weight == 0)
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.Weight)
            }
        </dd>
        <dt class="col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(Model => Model.Height)
        </dt>
        <dd class="col-sm-12">
            @if (Model.Height is null || Model.Height == 0)
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.Height)
            }
        </dd>
        <dt class="col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(Model => Model.Gym)
        </dt>
        <dd class="col-sm-12">
            @if (Model.Gym is null || Model.Gym.GymName is null || Model.Gym.GymName == "")
            {
                <p>N/A</p>
            }
            else
            {
                @Html.DisplayFor(Model => Model.Gym.GymName)
            }
        </dd>
    </dl>
</div>
<div class="backBtnDiv">
    <a asp-action="ShowClients" class="backToListBtn">Voltar</a>
</div>
