@using NutriFitWeb.Services
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager
@model IEnumerable<NutriFitWeb.Models.Client>

@***REMOVED***
    ViewData["Title"] = "ShowClients";
***REMOVED***

<h1>ShowClients</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAccountModel.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) ***REMOVED***
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccountModel.Email)  
            </td>
            <td>
                @if (item.Weight == null || item.Weight == 0)
                ***REMOVED***
                    <p>N/A</p>
            ***REMOVED***
                else
                ***REMOVED***
                    @Html.DisplayFor(modelItem => item.Weight)
            ***REMOVED***   
                    
            </td>
            <td>
                @if (item.Height == null || item.Height == 0)
                ***REMOVED***
                    <p>N/A</p>
            ***REMOVED***
                else
                ***REMOVED***
                    @Html.DisplayFor(modelItem => item.Height)
            ***REMOVED***
            </td>
            <td>
                
                @if(item.Gym == null)***REMOVED***
                     <a asp-action="AddClientToGym" asp-route-id="@item.ClientId">Adicionar ao Ginásio</a>
            ***REMOVED***else if(UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id)***REMOVED***                   
                     <a asp-action="RemoveClientFromGym" asp-route-id="@item.ClientId">Remover do Ginásio</a> 
            ***REMOVED***

                @*<a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |*@
                <a asp-action="ClientDetails" asp-route-id="@item.ClientId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>*@
            </td>

        </tr>
***REMOVED***
    </tbody>
</table>
