@using NutriFitWeb.Services
@using NutriFitWeb.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager
@model PaginatedList<NutriFitWeb.Models.Client>

<h1>Clientes <img class="iconMargin" src="~/icons/clientIcon.svg" alt="clientsIcon" /></h1>

<input type="submit" value="Ajuda" class="helpBtn" onclick="helpButton()" />

<div class="col-md-4 helpDivs" style="display:none;" id="helpText">
    <p>Aqui pode <b>adicionar</b>, <b>remover</b> e <b>ver os detalhes</b> de <b>Clientes</b>.</p>
</div>

<form asp-action="ShowClients" method="get">
    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o email do utilizador" class="searchBar" />
    <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
</form>

@foreach (var item in Model)
***REMOVED***
    <div class="listsDiv">
        <p class="listsItem"><b class="listsItem listsItemTitle showListsBorder">UserName</b> @Html.DisplayFor(modelItem => item.UserAccountModel.UserName)</p>
        <p class="listsItem"><img src="~/icons/emailIcon.svg" /> @Html.DisplayFor(modelItem => item.UserAccountModel.Email)</p>
        <div class="listsItem">
            @if (User.IsInRole("gym"))
            ***REMOVED***
                <a asp-action="ChangeClientGymStatus" asp-route-id="@item.ClientId"
           asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @if (item.Gym is null)
                    ***REMOVED***
                        <img class="addIcon icons" src="~/icons/addIcon.svg" alt="addIcon" />
                ***REMOVED***
                    else if (UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id)
                    ***REMOVED***
                        <img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon" />
                ***REMOVED***
                </a>
        ***REMOVED***
            else if (User.IsInRole("trainer"))
            ***REMOVED***
                <a asp-action="ChangeClientTrainerStatus" asp-route-id="@item.ClientId"
           asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @if (item.Trainer is null)
                    ***REMOVED***
                        <img class="addIcon icons" src="~/icons/addIcon.svg" alt="addIcon" />
                ***REMOVED***
                    else if (UserManager.GetUserId(User) == item.Trainer.UserAccountModel.Id)
                    ***REMOVED***
                        <img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon" />
                        <a asp-controller="Clients" asp-action="EditClientForTrainerAndNutritionist" asp-route-id="@item.ClientId">
                            <img class="editIcon" src="~/icons/editProfileIcon.svg" alt="editProfileIcon" />
                        </a>
                ***REMOVED***
                </a>
        ***REMOVED***
            else if (User.IsInRole("nutritionist"))
            ***REMOVED***
                <a asp-action="ChangeClientNutritionistStatus" asp-route-id="@item.ClientId"
           asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @if (item.Nutritionist is null)
                    ***REMOVED***
                        <img class="addIcon icons" src="~/icons/addIcon.svg" alt="addIcon" />
                ***REMOVED***
                    else if (UserManager.GetUserId(User) == item.Nutritionist.UserAccountModel.Id)
                    ***REMOVED***
                        <img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon" />
                        <a asp-controller="Clients" asp-action="EditClientForTrainerAndNutritionist" asp-route-id="@item.ClientId">
                            <img class="editIcon" src="~/icons/editProfileIcon.svg" alt="editProfileIcon" />
                        </a>
                ***REMOVED***
                </a>
        ***REMOVED***
            <a asp-action="ClientDetails" asp-route-id="@item.ClientId"><img class="detailsIcon icons" src="~/icons/detailsIcon.svg" alt="detailsIcon" /></a>
        </div>
    </div>
***REMOVED***

@***REMOVED***
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
***REMOVED***

<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowClients"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
***REMOVED***

    @if (nextDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowClients"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
***REMOVED***

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    ***REMOVED***
        <p class="noMoreResults">Não existem mais resultados</p>
***REMOVED***
</div>

@if (!string.IsNullOrEmpty(ViewData["CurrentFilter"] as string))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowClients" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***
