@using NutriFitWeb.Services
@using NutriFitWeb.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager
@model PaginatedList<NutriFitWeb.Models.Client>

@***REMOVED***
    ViewData["Title"] = "ShowClients";
***REMOVED***

<h1>Clientes</h1>

<form asp-action="ShowClients" method="get">
    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o email do utilizador" class="searchBar" />
    <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
</form>

@foreach (var item in Model)
***REMOVED***
    <div class="listsDiv">
        <b class="listsItem listsItemTitle">UserName:</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.UserName)</p>
        <br>
        <b class="listsItem listsItemTitle">Email:</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.Email)</p>
        <div class="listsItem">
            <a asp-action="ChangeClientGymStatus" asp-route-id="@item.ClientId"
           asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                @if (item.Gym == null)
                ***REMOVED***
                    <img class="addIcon icons" src="~/icons/addIcon.svg" alt="addIcon" />
            ***REMOVED***
                else if (UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id)
                ***REMOVED***
                    <img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon" />
            ***REMOVED***
            </a>

            <a asp-action="ClientDetails" asp-route-id="@item.ClientId"><img class="detailsIcon icons" src="~/icons/detailsIcon.svg" alt="detailsIcon" /></a>
        </div>
    </div>
***REMOVED***

@***REMOVED***
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
***REMOVED***

<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowClients"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
***REMOVED***

    @if (nextDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowClients"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
***REMOVED***

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    ***REMOVED***
        <p class="noMoreResults">Não existem mais resultados</p>
***REMOVED***
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowClients" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***
