@model NutriFitWeb.Models.NutritionPlan

@{
    ViewData["Title"] = "Detalhes do Plano de Nutrição";
}

<h1>@ViewData["Title"]</h1>
<div class="col-md-8 profileDivs exercisesDiv">
    <table class="formTables">
            <tr>
                @if (User.IsInRole("client") && Model.Nutritionist is not null)
                {
                    <th><p class="control-label listsItemTitle">Nutricionista</p></th>
                    <td>
                        <p class="itemsLeftMargin">@Html.DisplayFor(model => model.Nutritionist.UserAccountModel.UserName)</p>
                    </td>       
                }
                @if (User.IsInRole("nutritionist") && Model.Client is not null)
                {
                    <th class="control-label listsItemTitle">Cliente</th>
                    <td>
                        <p class="itemsLeftMargin">@Html.DisplayFor(model => model.Client.UserAccountModel.UserName)</p>
                    </td> 
                }
            </tr>
            <tr><th></th><td></td></tr>
            <tr class="detailsTitle">
                <th class="control-label listsItemTitle">Nome</th>
                <td>
                    <p class="itemsLeftMargin breakText">@Html.DisplayFor(model => model.NutritionPlanName)</p>
                </td>
            </tr>
            <tr><th></th><td></td></tr>
            <tr>
                <th class="control-label listsItemTitle">Descrição</th>
                <td>
                    @if (Model.NutritionPlanDescription is null || Model.NutritionPlanDescription == "")
                    {
                        <p class="itemsLeftMargin">N/A</p>
                    }else{
                        <p class="itemsLeftMargin breakText">@Html.DisplayFor(model => model.NutritionPlanDescription)</p>
                    }
                </td>
            </tr>
        </table>
        @if(Model.Meals is not null && Model.Meals.Count() != 0)
        {
            <div id="_ShowMealsPartialList" class="plansListDetailsDiv">
                <partial name="~/Views/Meals/_ShowMealsDetailsPartial.cshtml" model=@Model.Meals />
            </div>
        }
    <br />
</div>

@if (User.IsInRole("client") && Model.Nutritionist is not null && !Model.ToBeEdited)
{
    <div style="display:block;" id="planEditButton">
        <button onclick="hideButtonPlanEditRequestPartial()">Pedir Edição deste plano</button>
    </div>

    <div style="display:none;" id="_CreateEditRequestPartialItem">
        @{NutritionPlanEditRequest nutritionPlanEditRequest = new() { NutritionPlanId = Model.NutritionPlanId };}
        <partial name="~/Views/NutritionPlanEditRequests/_CreateNutritionPlanEditRequestPartial.cshtml" model=@nutritionPlanEditRequest/>
    </div>
}

<div class="backBtnDiv">
    <a asp-action="ShowNutritionPlans" class="backToListBtn">Voltar</a>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}