@using NutriFitWeb.Services
@using Microsoft.AspNetCore.Identity
@model NutriFitWeb.Models.Gym
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@inject IGetUsersLists GetUsersLists

@***REMOVED***
    ViewData["Title"] = "Gym Home Page";
***REMOVED***

<div class="text-center">
    <h1 class="display-4">@User.Identity?.Name.ToUpper()</h1>
    <div class="statistics">
        <div class="statisticsCount">
            <p><b class="listsItemTitle homeTitlesFix">Clientes</b><b>@GetUsersLists.GetUsersForGym("client", UserManager.GetUserId(User)).Count()</b></p>
            <br />
            <p><b class="listsItemTitle homeTitlesFix">Treinadores</b><b>@GetUsersLists.GetUsersForGym("trainer", UserManager.GetUserId(User)).Count()</b></p>
            <br />
            <p><b class="listsItemTitle homeTitlesFix">Nutricionistas</b><b>@GetUsersLists.GetUsersForGym("nutritionist", UserManager.GetUserId(User)).Count()</b></p>
            <br />
        </div>

        <div class="newUsersDiv">
            <p><b class="listsItemTitle">Clientes mais recentes</b></p>
            @foreach (var item in GetUsersLists.GetUsersForGym("client", UserManager.GetUserId(User)).Take(3))
            ***REMOVED***
                <br />
                <p class="recentClientsGym"><b>@item.UserName.ToUpper()</b></p>
        ***REMOVED***
        </div>
    </div>
    <img src="~/images/gymHome.jpg" alt="MainPageGymImage" class="gymHomeImage" />
</div>
