@using NutriFitWeb.Services
@using Microsoft.AspNetCore.Identity
@model NutriFitWeb.Models.Gym
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@inject IStatistics Statistics

<h2 class="homePageTitle">@User.Identity?.Name.ToUpper()</h2>
<div class="md-col-6">
    <table class="statisticsTable statisticsMargin">
        <tr>
            <th class="listsItemTitle">Clientes</th>
            <th class="listsItemTitle">Treinadores</th>
            <th class="listsItemTitle">Nutricionistas</th>
        </tr>
        <tr>
            <td class="statisticsValues">@Statistics.GetUsersForGym("client", UserManager.GetUserId(User)).Count()</td>
            <td class="statisticsValues">@Statistics.GetUsersForGym("trainer", UserManager.GetUserId(User)).Count()</td>
            <td class="statisticsValues">@Statistics.GetUsersForGym("nutritionist", UserManager.GetUserId(User)).Count()</td>
        </tr>
    </table>

    <table class="statisticsTable statisticsMargin">
        <tr>
            <th class="listsItemTitle statisticsTableHeaderFix">Clientes</th>
            <th class="listsItemTitle">Clientes mais recentes</th>
            <th class="listsItemTitle statisticsTableHeaderFix">Nutricionistas</th>
        </tr>
        <tr>
            @foreach (var item in Statistics.GetUsersForGym("client", UserManager.GetUserId(User)).Take(3))
            ***REMOVED***
            
                <td class="statisticsValues">@item.UserName.ToUpper()</td>
        ***REMOVED***
        </tr>
    </table>
    <img src="~/images/gymHome.jpg" alt="MainPageGymImage" class="gymHomeImage" />
</div>
