@model NutriFitWeb.Models.NutritionPlanEditRequest

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NutritionPlanEditRequestDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NutritionPlanEditRequestDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NutritionPlanEditRequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NutritionPlanEditRequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NutritionPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NutritionPlan.NutritionPlanName)
        </dd>
    </dl>
</div>

@if (User.IsInRole("nutritionist"))
{
    <a asp-controller="NutritionPlans" asp-action="EditNutritionPlan" type="submit" asp-route-id="@Model.NutritionPlan.NutritionPlanId" class="createBtn">Editar este plano de nutrição</a>
}

<div>
    <a asp-action="ShowNutritionPlanEditRequests">Back to List</a>
</div>