@using NutriFitWeb.Services
@model PaginatedList<NutriFitWeb.Models.NutritionPlanEditRequest>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("nutritionist"))
{
    <div class="titlesMargin">
        <form asp-action="ShowNutritionPlanEditRequests" method="get">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Email do cliente/Nome do plano" class="searchBar" />
            <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
        </form>
        
    </div>
}
else if (User.IsInRole("client"))
{
    <div class="titlesMargin">
        <form asp-action="ShowNutritionPlanEditRequests" method="get">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o nome do plano" class="searchBar" />
            <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>                   
        </form>       
    </div>
}

<div class="col-md-8">
<table class="table">
    <thead>
        <tr>
            <th class="roundedCornerTableLeft thStyle">
                Nome do Plano a Editar
            </th>
            <th class="thStyle">
                Descrição
            </th>
            <th class="roundedCornerTableRight thStyle">
                Data do Pedido
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NutritionPlan.NutritionPlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NutritionPlanEditRequestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NutritionPlanEditRequestDate)
            </td>
            <td>             
                <a asp-action="NutritionPlanEditRequestDetails" asp-route-id="@item.NutritionPlanEditRequestId">Details</a> |
                    @if (User.IsInRole("client"))
                    {
                        <a asp-action="DeleteNutritionPlanEditRequest" asp-route-id="@item.NutritionPlanEditRequestId">Delete</a>
                    } 
            </td>
        </tr>
}
    </tbody>
</table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    {
        <a asp-action="ShowNutritionPlanEditRequests"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
    }

    @if (nextDisabled != "disabled")
    {
        <a asp-action="ShowNutritionPlanEditRequests"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
    }

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    {
        <p class="noMoreResults">Não existem mais resultados</p>
    }
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
{
    <div class="backBtnDiv">
        <a asp-action="ShowNutritionPlanEditRequests" class="backToListBtn">Voltar</a>
    </div>
}