@using NutriFitWeb.Services
@model PaginatedList<NutriFitWeb.Models.NutritionPlanEditRequest>

<h1>Pedidos de Edição de Plano <img src=~/icons/leafIcon.svg/></h1>

<input type="submit" value="Ajuda" class="helpBtn" onclick="helpButton()" />

<div class="col-md-4 helpDivs" style="display:none;" id="helpText">
    
    @if(User.IsInRole("nutritionist"))***REMOVED***
        <p>Aqui pode <b>ver os pedidos</b> de <b>edição de planos de nutrição</b> dos clientes associados.</p>
        <p>Nos <b>detalhes</b> de um pedido, pode então proceder à <b>edição</b> de um <b>plano de nutrição</b>.</p>
***REMOVED***else if(User.IsInRole("client"))***REMOVED***
        <p>Aqui pode <b>ver e apagar os pedidos</b> de <b>edição de planos de nutrição</b> que requisitou.</p>
***REMOVED***
</div>

@if (User.IsInRole("nutritionist"))
***REMOVED***
    <div class="titlesMargin">
        <form asp-action="ShowNutritionPlanEditRequests" method="get">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Email do cliente/Nome do plano" class="searchBar" />
            <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
        </form>
        
    </div>
***REMOVED***
else if (User.IsInRole("client"))
***REMOVED***
    <div class="titlesMargin">
        <form asp-action="ShowNutritionPlanEditRequests" method="get">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o nome do plano" class="searchBar" />
            <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>                   
        </form>       
    </div>
***REMOVED***

<div class="col-md-8">
<table class="table">
    <thead>
        <tr>
            <th class="roundedCornerTableLeft thStyle"><p>Nome</p></th>
            <th class="thStyle">
                <p>Descrição</p>
            </th>
            <th class=" thStyle">
                <p>Data</p>
            </th>
            <th class="roundedCornerTableRight thStyle">
                <p>Ações</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) ***REMOVED***
        <tr>
            <td>
                <p class="details">@Html.DisplayFor(modelItem => item.NutritionPlan.NutritionPlanName)</p>
            </td>
            <td>
                    @if (item.NutritionPlanEditRequestDescription is null || item.NutritionPlanEditRequestDescription == "")
                    ***REMOVED***
                        <p class="details"><b>N/A</b></p>
                ***REMOVED***
                    else
                    ***REMOVED***
                        string? description = item.NutritionPlanEditRequestDescription;
                        @if (description.Length > 20)
                        ***REMOVED***
                            description = description.Substring(0, 20);
                            <p class="details"><b>@description...</b></p>
                    ***REMOVED***else***REMOVED***
                            <p class="details"><b>@description</b></p>
                    ***REMOVED***
                ***REMOVED***
            </td>
            <td>
                <p class="details">@Html.DisplayFor(modelItem => item.NutritionPlanEditRequestDate)</p>
            </td>
            <td>             
                <a asp-action="NutritionPlanEditRequestDetails" asp-route-id="@item.NutritionPlanEditRequestId"><img class="detailsIcon icons" src="~/icons/detailsIcon.svg" alt="detailsIcon" /></a>
                    @if (User.IsInRole("client"))
                    ***REMOVED***
                        <a asp-action="DeleteNutritionPlanEditRequest" asp-route-id="@item.NutritionPlanEditRequestId"><img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon" /></a>
                ***REMOVED*** 
            </td>
        </tr>
***REMOVED***
    </tbody>
</table>
</div>

@***REMOVED***
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
***REMOVED***
<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowNutritionPlanEditRequests"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
***REMOVED***

    @if (nextDisabled != "disabled")
    ***REMOVED***
        <a asp-action="ShowNutritionPlanEditRequests"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
***REMOVED***

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    ***REMOVED***
        <p class="noMoreResults">Não existem mais resultados</p>
***REMOVED***
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowNutritionPlanEditRequests" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***