@model IEnumerable<NutriFitWeb.Models.Exercise>


<p class="listsItemTitle">Exercícios</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome/Descrição
            </th>
            <th>
                Outros Dados
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="exercisesData">
                        @Html.DisplayFor(modelItem => item.ExerciseName)
                        <br />
                        @Html.DisplayFor(modelItem => item.ExerciseDescription)
                    </td>
                    <td class="exercisesData">
                        @if (item.ExerciseDuration is not null)
                        {
                            @Html.DisplayFor(modelItem => item.ExerciseDuration) <p>minutos</p> 
                        }
                        @if (item.ExerciseRepetitions is not null)
                        {
                            @Html.DisplayFor(modelItem => item.ExerciseRepetitions) <p>repetições</p>
                        }                       
                        @if (item.ExerciseURL is not null && item.ExerciseURL != "")
                        {
                            <a class="videosUrl" href=@Html.DisplayFor(modelItem => item.ExerciseURL)>Vídeo do Exercício</a>
                        }
                        @Html.DisplayFor(modelItem => item.ExerciseType)
                        @Html.DisplayFor(modelItem => item.ExerciseMuscles)

                    </td>
                </tr>
            }
        }
    </tbody>
</table>