@model IEnumerable<NutriFitWeb.Models.Exercise>


<p class="listsItemTitle">Exercícios</p>

<table class="table">
    <thead class="tableHeader">
        <tr>
            <th>
                Nome/Descrição
            </th>
            <th>
                Outros Dados
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        ***REMOVED***
            @foreach (var item in Model)
            ***REMOVED***
                <tr>
                    <td class="exercisesData">
                        @Html.DisplayFor(modelItem => item.ExerciseName) /
                        @Html.DisplayFor(modelItem => item.ExerciseDescription)
                    </td>
                    <td class="exercisesData">
                        @if (item.ExerciseDuration is not null)
                        ***REMOVED***
                            <p>@Html.DisplayFor(modelItem => item.ExerciseDuration) minutos,</p> 
                    ***REMOVED***
                        @if (item.ExerciseRepetitions is not null)
                        ***REMOVED***
                            <p>@Html.DisplayFor(modelItem => item.ExerciseRepetitions) repetições,</p>
                    ***REMOVED***                       
                        <p>@Html.DisplayFor(modelItem => item.ExerciseType), @Html.DisplayFor(modelItem => item.ExerciseMuscles),</p>
                        @if (item.ExerciseURL is not null && item.ExerciseURL != "")
                        ***REMOVED***
                            <a class="videosUrl" href=@Html.DisplayFor(modelItem => item.ExerciseURL) target="_blank">Vídeo do Exercício</a>
                    ***REMOVED***
                    </td>
                </tr>
        ***REMOVED***
    ***REMOVED***
    </tbody>
</table>