@model IEnumerable<NutriFitWeb.Models.Exercise>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseRepetitions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseMuscles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Select((value, i) => new { i, value })) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.value.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.ExerciseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.ExerciseDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.ExerciseRepetitions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.ExerciseURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.ExerciseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value.ExerciseMuscles)
            </td>
            <td>
                <a asp-action="DeleteExercise" asp-controller="Exercises" method="post" data-ajax="true" data-ajax-update="#_ShowExercisesPartialList"
                asp-route-id="@item.i">Delete</a>
            </td>
        </tr>
        }
        
}
    </tbody>
</table>
