@using NutriFitWeb.Services
@model IEnumerable<NutriFitWeb.Models.Exercise>
@inject IPhotoManagement PhotoManagement

<br />
<p class="listsItemTitle">Exercícios</p>

<table class="table exercisesMealsTable">
    <thead class="tableHeader">
        <tr>
            <th class="roundedCornerTableLeft thStyle">
                Nome/Descrição
            </th>
            <th class="thStyle">
                Foto
            </th>
            <th class="roundedCornerTableRight thStyle">
                Outros Dados
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        ***REMOVED***
            @foreach (var item in Model)
            ***REMOVED***

                <tr>
                    <td class="exercisesData breakText breakTextOtherData">
                        @Html.DisplayFor(modelItem => item.ExerciseName)
                        <br />
                        @Html.DisplayFor(modelItem => item.ExerciseDescription)
                    </td>
                    <td>
                        @if (item.ExercisePhoto is not null)
                        ***REMOVED***
                            string? exercisePhoto = PhotoManagement.GetPhotoPath(item.ExercisePhoto);
                            <img class="profilePhoto" src="@exercisePhoto" />
                    ***REMOVED***else***REMOVED***
                            <p class="exercisesData">N/A</p>
                    ***REMOVED***
                    </td>
                    <td class="exercisesData">
                        @if (item.ExerciseDuration is not null)
                        ***REMOVED***
                            <p>@Html.DisplayFor(modelItem => item.ExerciseDuration) minuto(s),</p>
                    ***REMOVED***
                        @if (item.ExerciseRepetitions is not null)
                        ***REMOVED***
                            <p>@Html.DisplayFor(modelItem => item.ExerciseRepetitions) repetições,</p>
                    ***REMOVED***
                        <p>@Html.DisplayFor(modelItem => item.ExerciseType), @Html.DisplayFor(modelItem => item.ExerciseMuscles),</p>
                        @if (item.ExerciseURL is not null && item.ExerciseURL != "")
                        ***REMOVED***
                            <a class="videosUrl" href="@item.ExerciseURL" target="_blank">Vídeo do Exercício</a>
                    ***REMOVED***
                    </td>
                </tr>
        ***REMOVED***
    ***REMOVED***
    </tbody>
</table>