@model IEnumerable<NutriFitWeb.Models.TrainingPlan>

@{
    ViewData["Title"] = "Planos de Treino";
}

<h1>@ViewData["Title"]</h1>

<div class="titlesMargin">
    <a class="backToListBtn" asp-action="CreateTrainingPlan">Criar novo plano</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingPlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingPlanDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingPlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingPlanDescription)
            </td>
            <td>
                <a asp-action="EditTrainingPlan" asp-route-id="@item.TrainingPlanId">Edit</a> |
                <a asp-action="TrainingPlanDetails" asp-route-id="@item.TrainingPlanId">Details</a> |
                <a asp-action="DeleteTrainingPlan" asp-route-id="@item.TrainingPlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
