@model IEnumerable<NutriFitWeb.Models.TrainingPlan>

@***REMOVED***
    ViewData["Title"] = "Planos de Treino";
***REMOVED***

<h1>@ViewData["Title"]</h1>

<div class="titlesMargin">
    <a class="backToListBtn" asp-action="CreateTrainingPlan">Criar novo plano</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) ***REMOVED***
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingPlanName)
            </td>
            <td>
                @if (item.TrainingPlanDescription == null || item.TrainingPlanDescription == "")
                    ***REMOVED***
                        <p>N/A</p>
                ***REMOVED***else***REMOVED***
                        @Html.DisplayFor(modelItem => item.TrainingPlanDescription)
                ***REMOVED***
                    
            </td>
            <td>
                <a asp-action="EditTrainingPlan" asp-route-id="@item.TrainingPlanId"><img class="editIcon" src="~/icons/editProfileIcon.svg"/></a> 
                <a asp-action="TrainingPlanDetails" asp-route-id="@item.TrainingPlanId"><img class="detailsIcon icons" src="~/icons/detailsIcon.svg"/></a> 
                <a asp-action="DeleteTrainingPlan" asp-route-id="@item.TrainingPlanId"><img class="removeIcon icons" src="~/icons/removeIcon.svg"/></a>
            </td>
        </tr>
***REMOVED***
    </tbody>
</table>
