@model NutriFitWeb.Models.TrainingPlan

@***REMOVED***
    ViewData["Title"] = "Detalhes do Plano de Treino";
***REMOVED***

<h1>@ViewData["Title"]</h1>
<div class="col-md-12 profileDivs">
    <dl class="row">
        <dd class="col-sm-12">
            <p class="details"><b class="col-sm-12 listsItemTitle">Nome</b> &nbsp; @Html.DisplayFor(model => model.TrainingPlanName)</p>
        </dd>
        <dt class="col-sm-12 listsItemTitle">
            Descrição
        </dt>
        <dd class="col-sm-12">
            @if (Model.TrainingPlanDescription is null || Model.TrainingPlanDescription == "")
            ***REMOVED***
                <p class="details">N/A</p>
        ***REMOVED***
            else
            ***REMOVED***
                <p class="details">@Html.DisplayFor(model => model.TrainingPlanDescription)</p>
        ***REMOVED***
        </dd>
        @if (User.IsInRole("client") && Model.Trainer is not null)
        ***REMOVED***
            <dt class="col-sm-12 listsItemTitle">
                Treinador
            </dt>
            <dd class="col-sm-12">
                <p class="details">@Html.DisplayFor(model => model.Trainer.UserAccountModel.UserName)</p>
            </dd>
    ***REMOVED***
        @if (User.IsInRole("trainer") && Model.Client is not null)
        ***REMOVED***
            <dt class="col-sm-12 listsItemTitle">
                Cliente
            </dt>
            <dd class="col-sm-12">
                <p class="details">@Html.DisplayFor(model => model.Client.UserAccountModel.UserName)</p>
            </dd>
    ***REMOVED***
    </dl>
    <div id="_ShowExercisesPartialList" class="exercisesDetailsDiv">
        <partial name="~/Views/Exercises/_ShowExercisesDetailsPartial.cshtml" model=@Model.Exercises />
    </div>
</div>
<div class="backBtnDiv">
    <a asp-action="ShowTrainingPlans" class="backToListBtn">Voltar</a>
</div>


@section Scripts ***REMOVED***
    @***REMOVED***
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
***REMOVED***
***REMOVED***