@model NutriFitWeb.Models.TrainingPlan
@using NutriFitWeb.Models

@***REMOVED***
    ViewData["Title"] = "Detalhes do Plano de Treino";
***REMOVED***

<h1>@ViewData["Title"]</h1>
<div class="col-md-8 profileDivs exercisesDiv">
        <table class="formTables">
            <tr>
                @if (User.IsInRole("client") && Model.Trainer is not null)
                ***REMOVED***
                    <th><p class="control-label listsItemTitle">Treinador</p></th>
                    <td>
                        <p class="itemsLeftMargin">@Html.DisplayFor(model => model.Trainer.UserAccountModel.UserName)</p>
                    </td>       
            ***REMOVED***
                @if (User.IsInRole("trainer") && Model.Client is not null)
                ***REMOVED***
                    <th class="control-label listsItemTitle">Cliente</th>
                    <td>
                        <p class="itemsLeftMargin">@Html.DisplayFor(model => model.Client.UserAccountModel.UserName)</p>
                    </td> 
            ***REMOVED***
            </tr>
            <tr><th></th><td></td></tr>
            <tr class="detailsTitle">
                <th class="control-label listsItemTitle ">Nome</th>
                <td>
                    <p class="itemsLeftMargin breakText">@Html.DisplayFor(model => model.TrainingPlanName)</p>
                </td>
            </tr>
            <tr><th></th><td></td></tr>
            <tr>
                <th class="control-label listsItemTitle">Descrição</th>
                <td>
                    @if (Model.TrainingPlanDescription is null || Model.TrainingPlanDescription == "")
                    ***REMOVED***
                        <p class="itemsLeftMargin">N/A</p>
                ***REMOVED***else***REMOVED***
                        <p class="itemsLeftMargin breakText">@Html.DisplayFor(model => model.TrainingPlanDescription)</p>
                ***REMOVED***
                </td>
            </tr>
        </table>
    @if(Model.Exercises is not null && Model.Exercises.Count() != 0)
    ***REMOVED***
        <br />
        <div id="_ShowExercisesPartialList" class="plansListDetailsDiv">
            <partial name="~/Views/Exercises/_ShowExercisesDetailsPartial.cshtml" model=@Model.Exercises />
        </div>
***REMOVED***
</div>

@if (User.IsInRole("client") && Model.Trainer is not null && !Model.ToBeEdited)
***REMOVED***
    <div style="display:block;" id="planEditButton" class="backBtnDiv">
        <button onclick="hideButtonShowCreateTrainingPlanEditRequestPartial()">Pedir Edição deste plano</button>
    </div>

    <div style="display:none;" id="_CreateEditRequestPartialItem">
        @***REMOVED***TrainingPlanEditRequest trainingPlanEditRequest = new() ***REMOVED*** TrainingPlanId = Model.TrainingPlanId ***REMOVED***;***REMOVED***
        <partial name="~/Views/TrainingPlanEditRequests/_CreateTrainingPlanEditRequestPartial.cshtml" model=@trainingPlanEditRequest/>
    </div>
***REMOVED***

<div class="backBtnDiv">
    <a asp-action="ShowTrainingPlans" class="backToListBtn">Voltar</a>
</div>


@section Scripts ***REMOVED***
    @***REMOVED***
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
***REMOVED***
***REMOVED***