@model NutriFitWeb.Models.TrainingPlan

@{
    ViewData["Title"] = "Detalhes do Plano de Treino";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="col-md-12 profileDivs">
    <dl class="row">
        <dt class = "col-sm-12 listsItemTitle">
            Nome
         </dt>
        <dd class = "col-sm-12">
            @if(Model.TrainingPlanName == null || Model.TrainingPlanName == "")
            {
                <p class="details">N/A</p>
            }else{
                <p class="details">@Html.DisplayFor(model => model.TrainingPlanName)</p>
            }
        </dd>
        <dt class = "col-sm-12 listsItemTitle">
            Descrição
        </dt>
        <dd class = "col-sm-12">
            @if(Model.TrainingPlanDescription == null || Model.TrainingPlanDescription == "")
            {
                <p class="details">N/A</p>
            }else{
                <p class="details">@Html.DisplayFor(model => model.TrainingPlanDescription)</p>
            }
        </dd>
        @if(User.IsInRole("client") && Model.Trainer != null)
        {
            <dt class = "col-sm-12 listsItemTitle">
                Treinador
            </dt>
            <dd class = "col-sm-12">
                <p class="details">@Html.DisplayFor(model => model.Trainer.UserAccountModel.UserName)</p>
            </dd>        
        }
        @if(User.IsInRole("trainer") && Model.Client != null)
        {
            <dt class = "col-sm-12 listsItemTitle">
                Cliente
            </dt>
            <dd class = "col-sm-12">
                <p class="details">@Html.DisplayFor(model => model.Client.UserAccountModel.UserName)</p>
            </dd>          
        }
    </dl>
    <div id="_ShowExercisesPartialList">
            <partial name="~/Views/Exercises/_ShowExercisesDetailsPartial.cshtml" model=@Model.Exercises />
        </div>
    </div>
<div class="backBtnDiv">
    <a asp-action="ShowTrainingPlans" class="backToListBtn">Voltar</a>
</div>


@section Scripts {
     <script>
        function updateViews(response) {
            $("#_ShowExercisesPartialList").html(response._ShowExercises);
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}