@model IEnumerable<NutriFitWeb.Models.Meal>


<br />
<p class="listsItemTitle">Refeições</p>

<br />
<p class="listsItemTitle">Exercícios</p>

<table class="table">
    <thead class="tableHeader">
        <tr>
            <th>
                Nome/Descrição
            </th>
            <th>
                Outros Dados
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="exercisesData">
                        @Html.DisplayFor(modelItem => item.MealName) /
                        @Html.DisplayFor(modelItem => item.MealDescription)
                    </td>
                    <td class="exercisesData">
                        @if (item.MealCalorie is not null)
                        {
                            <p>@Html.DisplayFor(modelItem => item.MealCalorie) calorias,</p> 
                        }
                        @if (item.MealProtein is not null)
                        {
                            <p>@Html.DisplayFor(modelItem => item.MealProtein) gramas,</p>
                        } 
                        @if (item.MealFat is not null)
                        {
                            <p>@Html.DisplayFor(modelItem => item.MealFat) gramas,</p>
                        } 
                        @if (item.MealCarbohydrate is not null)
                        {
                            <p>@Html.DisplayFor(modelItem => item.MealCarbohydrate) gramas,</p>
                        } 
                        @if (item.MealURL is not null && item.MealURL != "")
                        {
                            <a class="videosUrl" href="@item.MealURL" target="_blank">Link da refeição</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>