@model NutriFitWeb.Models.Machine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineQRCodeUri)
        </dt>
        <div id="qrCode"></div>
        <div id="qrCodeData" data-url="@Model.MachineQRCodeUri"></div>
    </dl>
    @if (Model.MachineExercises is not null && Model.MachineExercises.Any())
    {
        <br />
        <div id="_ShowExercisesPartialList" class="plansListDetailsDiv">
            <partial name="~/Views/Exercises/_ShowExercisesDetailsPartial.cshtml" model=@Model.MachineExercises />
        </div>
    }
</div>
<div>
    <a asp-action="ShowMachines">Back to List</a>
</div>
