@using NutriFitWeb.Services
@model NutriFitWeb.Models.Machine
@inject IPhotoManagement PhotoManagement


<h1>Detalhes da Máquina</h1>

<div class="col-md-8 profileDivs exercisesDiv">
        <div>
            @***REMOVED***
                string? machinePhoto = PhotoManagement.GetPhotoPath(@Model.MachineProfilePhoto); 
         ***REMOVED***
            @if(Model.MachineProfilePhoto is not null)
            ***REMOVED***
                <div><img class="profilePhoto" src="@machinePhoto" /></div>
                <br />
        ***REMOVED***
        </div>
        <table class="formTables">
            <tr>
                <th><p class="control-label listsItemTitle">Nome</p></th>
                <td>
                    <p class="itemsLeftMargin">@Html.DisplayFor(model => model.MachineName)</p>
                </td>       
            </tr>
            <tr>
                <th><p class="control-label listsItemTitle">Descrição</p></th>
                <td>
                    <p class="itemsLeftMargin">@Html.DisplayFor(model => model.MachineDescription)</p>
                </td>       
            </tr>
            <tr>
                <th><p class="control-label listsItemTitle">Tipo</p></th>
                <td>
                    <p class="itemsLeftMargin">@Html.DisplayFor(model => model.MachineType)</p>
                </td>       
            </tr>
        </table>
        <table class="formTables">
            <tr>
                <th><p style="margin-bottom: 1em !important;" class="control-label listsItemTitle">Código QR</p></th>     
            </tr>
            <tr>
                <td>
                    <div id="qrCode"></div>
                    <div id="qrCodeData" data-url="@Model.MachineQRCodeUri"></div>
                </td>
            </tr>
        </table>
        @if (Model.MachineExercises is not null && Model.MachineExercises.Any())
        ***REMOVED***
            <br />
            <div id="_ShowExercisesPartialList" class="plansListDetailsDiv">
                <partial name="~/Views/Exercises/_ShowExercisesDetailsPartial.cshtml" model=@Model.MachineExercises />
            </div>
    ***REMOVED***
</div>

<div class="backBtnDiv">
    <a asp-action="ShowMachines" class="backToListBtn">Voltar</a>
</div>


@*

<h1>Details</h1>

<div>
    <dl class="row">
        @if(Model.MachineProfilePhoto is not null)
        ***REMOVED***
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MachineName)
            </dt>
            <dd class="col-sm-10">
                <div><img class="profilePhoto" src="@Model.MachineProfilePhoto.PhotoUrl" /></div>
            </dd>
    ***REMOVED***
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineQRCodeUri)
        </dt>
        
    </dl>
    
</div>
*@
