@using NutriFitWeb.Services
@model PaginatedList<NutriFitWeb.Models.Machine>

<h1>Máquinas <img class="iconMargin" src="~/icons/machinesIcon.svg" alt="MachinesIcon" /></h1>

<input type="submit" value="Ajuda" class="helpBtn" onclick="helpButton()" />

<div class="col-md-4 helpDivs" style="display:none;" id="helpText">
    <p>Aqui pode <b>ver as máquinas</b> do ginásio ao qual pertence.</p>
    @if(User.IsInRole("gym")){
        <p>Pode também <b>adicionar</b>, <b>remover</b> e <b>editar máquinas</b> do/ao seu ginásio.</p>
    }
    <p>Pode ler o <b>Código QR</b> das máquinas do seu ginásio para ver os <b>detalhes</b> diretamente.</p>
</div>

<div class="titlesMargin">
    <form asp-action="ShowMachines" method="get">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Nome da máquina" class="searchBar" />
        <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
        @if (User.IsInRole("gym"))
        {
            <div class="marginFixChooseFile">
                <a class="createBtn" asp-action="CreateMachine">Criar Máquina</a>
            </div>
        }
    </form>
</div>

<div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th class="roundedCornerTableLeft thStyle">
                    Nome
                </th>
                <th class="thStyle">
                    Descrição
                </th>
                <th class="thStyle">
                    Tipo
                </th>
                <th class="roundedCornerTableRight thStyle">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <p class="details">@Html.DisplayFor(modelItem => item.MachineName)</p>
                    </td>
                    <td>
                        <p class="details">@Html.DisplayFor(modelItem => item.MachineDescription)</p>
                    </td>
                    <td>
                        <p class="details">@Html.DisplayFor(modelItem => item.MachineType)</p>
                    </td>
                    <td>
                        @if (User.IsInRole("gym"))
                        {
                            <a asp-action="EditMachine" asp-route-id="@item.MachineId"><img class="editIcon" src="~/icons/editProfileIcon.svg" /></a>
                        }
                        <a asp-action="MachineDetails" asp-route-id="@item.MachineId"><img class="detailsIcon icons" src="~/icons/detailsIcon.svg" /></a>
                        @if (User.IsInRole("gym"))
                        {
                            <a asp-action="DeleteMachine" asp-route-id="@item.MachineId"><img class="removeIcon icons" src="~/icons/removeIcon.svg" /></a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    {
        <a asp-action="ShowMachines"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
    }

    @if (nextDisabled != "disabled")
    {
        <a asp-action="ShowMachines"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
    }

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    {
        <p class="noMoreResults">Não existem mais resultados</p>
    }
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
{
    <div class="backBtnDiv">
        <a asp-action="ShowMachines" class="backToListBtn">Voltar</a>
    </div>
}
