@model IEnumerable<NutriFitWeb.Models.Trainer>
@using NutriFitWeb.Services
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@{
    ViewData["Title"] = "ShowTrainers";
}

<h1>ShowTrainers</h1>

<form asp-action="ShowTrainers" asp-route-id=email method="get">
    <input type="text" name="email" placeholder="Insira o email do utilizador"/>
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerLastName)
            </td>
            <td>

                @if(item.Gym == null){
                     <a asp-action="AddTrainerToGym" asp-route-id="@item.TrainerId">Adicionar ao Ginásio</a>
                }else if(UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id){                   
                     <a asp-action="RemoveTrainerFromGym" asp-route-id="@item.TrainerId">Remover do Ginásio</a> 
                }

                <a asp-action="Edit" asp-route-id="@item.TrainerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
