@model PaginatedList<NutriFitWeb.Models.Trainer>
@using NutriFitWeb.Models
@using NutriFitWeb.Services
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@***REMOVED***
    ViewData["Title"] = "ShowTrainers";
***REMOVED***

<h1>Treinadores</h1>
<form asp-action="ShowTrainers" method="get">
    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o email do utilizador" class="searchBar"/>
    <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon"/></button>
</form>

@foreach (var item in Model) ***REMOVED***
    <div class="listsDiv">
        <b class="listsItem listsItemTitle">UserName:</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.UserName)</p>
        <br>
        <b class="listsItem listsItemTitle">Email:</b>
        <p class="listsItem">@Html.DisplayFor(modelItem => item.UserAccountModel.Email)</p>
        <div class="listsItem">
            @if(item.Gym == null)***REMOVED***
                <a asp-action="AddTrainerToGym" asp-route-id="@item.TrainerId" asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <img class="addIcon icons" src="~/icons/addIcon.svg" alt="addIcon"/></a>
        ***REMOVED***else if(UserManager.GetUserId(User) == item.Gym.UserAccountModel.Id)***REMOVED***                   
                <a asp-action="RemoveTrainerFromGym" asp-route-id="@item.TrainerId" asp-route-pageNumber="@(Model.PageIndex)" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    <img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon"/></a> 
        ***REMOVED***

            <a asp-action="TrainerDetails" asp-route-id="@item.TrainerId">
                <img class="detailsIcon icons" src="~/icons/detailsIcon.svg" alt="detailsIcon"/>
            </a>
        </div>
    </div>
***REMOVED***

@***REMOVED***
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
***REMOVED***

<a asp-action="ShowTrainers"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ShowTrainers"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
***REMOVED***
    <div class="backBtnDiv">
        <a asp-action="ShowTrainers" class="backToListBtn">Voltar</a>
    </div>
***REMOVED***
