@model NutriFitWeb.Models.Trainer

@{
    ViewData["Title"] = "TrainerDetails";
}

<h1 class= "detailsTitle">Detalhes do Treinador</h1>

<div class="listsDiv">
    <dl class="row">
        <dt class = "col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(model => model.TrainerId)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.TrainerId)
        </dd>
        <dt class = "col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(model => model.TrainerFirstName)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.TrainerFirstName)
        </dd>
        <dt class = "col-sm-12 listsItemTitle">
            @Html.DisplayNameFor(model => model.TrainerLastName)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.TrainerLastName)
        </dd>
    </dl>
</div>
<div class="backBtnDiv">
    <a asp-action="ShowTrainers" class="backToListBtn">Voltar</a>
</div>
