@model NutriFitWeb.Models.Trainer

@***REMOVED***
    ViewData["Title"] = "TrainerDetails";
***REMOVED***

<h1 class="detailsTitle">Detalhes do Treinador</h1>

<div class="detailsDivs">
    <dl class="row">
        <dd class="col-sm-12">
            <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(model => model.TrainerId)</b> @Html.DisplayFor(model => model.TrainerId)</p>
        </dd>
        <dd class="col-sm-12">
            <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(model => model.TrainerFirstName)</b> @Html.DisplayFor(model => model.TrainerFirstName)</p>
        </dd>
        <dd class="col-sm-12">
            <p class="listsItem"><b class="col-sm-12 listsItemTitle">@Html.DisplayNameFor(model => model.TrainerLastName)</b> @Html.DisplayFor(model => model.TrainerLastName)</p>
        </dd>
    </dl>
</div>
<div class="backBtnDiv">
    <a asp-action="ShowTrainers" class="backToListBtn">Voltar</a>
</div>
