@using NutriFitWeb.Services
@model PaginatedList<NutriFitWeb.Models.TrainingPlanNewRequest>
@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos de Plano Novo <img src=~/icons/dumbbellsIcon.svg/></h1>

@if (User.IsInRole("trainer"))
{
    <div class="titlesMargin">
        <form asp-action="ShowTrainingPlanNewRequests" method="get">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Email do cliente/Nome do plano" class="searchBar" />
            <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>
        </form>
        
    </div>
}
else if (User.IsInRole("client"))
{
    <div class="titlesMargin">
        <form asp-action="ShowTrainingPlanNewRequests" method="get">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Insira o nome do plano" class="searchBar" />
            <button type="submit" class="searchBtn"><img class="searchIcon" src="~/icons/searchIcon.svg" alt="searchIcon" /></button>                   
        </form>       
    </div>
}

<div class="col-md-8">
<table class="table">
    <thead>
        <tr>
            <th class="roundedCornerTableLeft thStyle">
                <p>Nome</p>
            </th>
            <th class="thStyle">
                <p>Descrição</p>
            </th>
            <th class="thStyle">
                <p>Data</p>
            </th>
            <th class="roundedCornerTableRight thStyle">
                <p>Ações</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p class="details">@Html.DisplayFor(modelItem => item.TrainingPlanNewRequestName)</p>
            </td>
            <td>
                <p class="details">@Html.DisplayFor(modelItem => item.TrainingPlanNewRequestDescription)</p>
            </td>
            <td>
                <p class="details">@Html.DisplayFor(modelItem => item.TrainingPlanNewRequestDate)</p>
            </td>
            <td>                   
                <a asp-action="TrainingPlanNewRequestDetails" asp-route-id="@item.TrainingPlanNewRequestId"><img class="detailsIcon icons" src="~/icons/detailsIcon.svg" alt="detailsIcon" /></a>
                @if (User.IsInRole("client"))
                {
                    <a asp-action="DeleteTrainingPlanNewRequest" asp-route-id="@item.TrainingPlanNewRequestId"><img class="removeIcon icons" src="~/icons/removeIcon.svg" alt="removeIcon" /></a>
                }               
            </td>
        </tr>
}
    </tbody>
</table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="pagesDiv">
    @if (prevDisabled != "disabled")
    {
        <a asp-action="ShowTrainingPlanNewRequests"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
            <b>Anterior</b>
        </a>
    }

    @if (nextDisabled != "disabled")
    {
        <a asp-action="ShowTrainingPlanNewRequests"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
            <b>Próximo</b>
        </a>
    }

    @if (prevDisabled == "disabled" && nextDisabled == "disabled")
    {
        <p class="noMoreResults">Não existem mais resultados</p>
    }
</div>

@if (!string.IsNullOrEmpty((string)ViewData["CurrentFilter"]))
{
    <div class="backBtnDiv">
        <a asp-action="ShowTrainingPlanNewRequests" class="backToListBtn">Voltar</a>
    </div>
}