@model NutriFitWeb.Models.TrainingPlanNewRequest

@***REMOVED***
    ViewData["Title"] = "Details";
***REMOVED***

<h1>Details</h1>

<div>
    <h4>TrainingPlanRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingPlanNewRequestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingPlanNewRequestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingPlanNewRequestDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingPlanNewRequestDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingPlanNewRequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingPlanNewRequestDate)
        </dd>
    </dl>
</div>

@if (User.IsInRole("trainer"))
***REMOVED***
    <a asp-controller="TrainingPlans" asp-action="CreateTrainingPlan" type="submit" asp-route-trainingPlanNewRequestId="@Model.TrainingPlanNewRequestId" class="createBtn">Criar este plano de treino</a>
***REMOVED***

<div>
    <a asp-action="ShowTrainingPlanNewRequests">Back to List</a>
</div>
